.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 500px;
  margin-right: 125px;
}

.contact-form label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.contact-form textarea {
  resize: none;
}

.contact-form button[type="submit"] {
  background-color: #de8d57;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all ease 0.3s;
}

.contact-form button[type="submit"]:hover {
  background-color: #fff;
  color: #de8d57;
  transition: all ease 0.3s;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 500px;
}

.contact-info p {
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-info iframe {
  margin-top: 20px;
}
